{% extends "base.html" %}

{% block content %}
  {#  TODO: inline css :((( #}
  <h3 style="margin-bottom: 20px; text-align: center;">Вход</h3>
  <div class="container">
    <div class="card"
         style="width: 50%; margin-left: auto; margin-right: auto;">
      <div class="card-body">
        <form method="POST" class="row g-3 needs-validation"
              style="margin-top: 30px;">
          {% csrf_token %}
          {% for field in form %}
            <div class="row mb-3">
              <label class="col-sm-3 col-form-label">{{ field.label_tag }}</label>
              <div class="col-sm-9">
                {{ field }}
              </div>
              {% if field.help_text %}
                <small style="display: none">{{ field.help_text }}</small>
              {% endif %}
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </div>
          {% endfor %}
          <div class="row mb-3">
            <button type="submit" class="btn btn-success col-sm-6">Войти
            </button>
            {#  TODO: {% url '...' %} #}
            <a href="/register/reg_user" class="col-sm-6"
            <a href="/register/reg_user" class="col-sm-6"
               style="color: #42b983;">Зарегистрироваться</a>
          </div>
          {#  TODO: {% url '...' %} #}
          <a href="http://{{ domain }}/register/password_reset"
             style="text-align: center;">Забыли пароль?</a>

          {% if error %}
            <small style="color: red">{{ error }}</small>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}