{% extends "base.html" %}
    {% block content %}
    <h4 style="margin-bottom: 20px; text-align: center;">Письмо с инструкциями по восстановлению пароля отправлено</h4>
    <div class = "container">
        <p>Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.</p>
        <p>Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.</p>
    </div>
    {% endblock %}