{% extends "base.html" %}
{% block content %}
    <h3 style="margin-bottom: 20px; text-align: center;">Смена пароля</h3>
    {% if validlink %}
        <p style="text-align: center;">Пожалуйста, введите новый пароль дважды:</p>
        <div class="card" style="width: 50%; margin-left: auto; margin-right: auto;">
                <div class="card-body">
                     <form method="post" class="row g-3" style="margin-top: 30px;">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success col-sm-6" style="margin: auto">Сменить</button>
                      </form>
                </div>
        </div>
    {% else %}
        <p>Ссылка для сброса пароля недействительна. Возможно она уже была использована</p>
        <p> Пожалуйста, запросите сброс пароля заново.</p>
    {% endif %}
{% endblock %}