{% extends "base.html" %}

{% block content %}
    {% if error %}
        <p style="text-align: center;">Ссылка недействительна!</p>
    {% else %}
        <p style="text-align: center;">Спасибо за подтверждение. Теперь вы можете
            <a href="http://{{ domain }}/register/login_user" style="color: #42b983;">войти</a> в свою учетную запись</p>
    {% endif %}
{% endblock %}