{% extends "header.html" %}
    {% block content %}
    <h3 style="margin-bottom: 20px; text-align: center;">Восстановление пароля</h3>
    <div class = "container">
        <p style="text-align: center;">Введите e-mail, мы пришлем Вам инструкцию по изменению пароля</p>
        <div class="card" style="width: 50%; margin-left: auto; margin-right: auto;">
            <div class="card-body">
                 <form method="post" class="row g-3" style="margin-top: 30px;">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success col-sm-6" style="margin: auto">Отправить</button>
                  </form>
            </div>
        </div>
    </div>
    {% endblock %}

