{% extends "base.html" %}
{% block content %}
        <p style="text-align: center;">Пароль успешно изменен</p>
        <p style="text-align: center;"> Вы можете <a href="{% url 'login_user' %}" style="color: #42b983; text-align:center;text-decoration: none;">войти</a>
             в личный кабинет с новым паролем</p>
{% endblock %}