{% extends "header.html" %}
{% block content %}
<h3 style="margin-bottom: 20px; text-align: center;">Новое объявление</h3>
{{advert}}
<div class = "container">
    <div class="card" style="width: 50%; margin-left: auto; margin-right: auto;">
            <div class="card-body">
                <form method="POST" class="row g-3 needs-validation" style="margin-top: 30px;" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="row mb-3">
                      <label class="col-sm-3 col-form-label">{{ field.label_tag }}</label>
                      <div class="col-sm-9" >
                        {{ field }}
                      </div>
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Шаг "{{step}}"</label>
                    </div>
                    <button type="submit" class="btn btn-success">Далее</button>
                </form>
            </div>
        </div>
</div>

{% endblock %}