{% extends "header.html" %}
{% block content %}
<h3 style="margin-bottom: 20px; text-align: center;">{% if user_advert %}Мои oбъявления{% else %}Все объявления{% endif %}</h3>
<ul class="nav justify-content" style="justify-content: right;">
    <li class="nav-item" style="">
        <a class="btn btn-outline-success" href="{% url 'add_advert' %}" type="button" style="margin-bottom: 20px;">Создать объявление</a>
    </li>
</ul>

<div class = "container">
    <div class="row mb-3 border-bottom">
    {% if user_advert %}
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link"  href="{% url 'adverts_list' %}?created_user_id={{user.id}}">Активные</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'adverts_list' %}?created_user_id={{user.id}}&published=false">Снятые с публикации</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'adverts_list' %}?created_user_id={{user.id}}&pull_off=true">Скоро будут сняты</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'adverts_list' %}?created_user_id={{user.id}}&date_delete__isnull=false">Удалённые</a>
          </li>
        </ul>
    {% else %}
        <ul class="nav justify-content" style="justify-content: right;">
            <li class="nav-item" style="">
            <form class="d-flex" action="{% url 'adverts_list' %}" method="get">
                <input class="form-control me-2" name="query_search" type="text" placeholder="Введите техт для поиска" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
          </li>
        </ul>
        <ul class="nav justify-content-start">
            <form class="d-flex" action="{% url 'adverts_list' %}" method="get">
                <li class="nav-item" style="">
                    <label class="col-form-label">Цена от </label>
                </li>
                <li class="nav-item" style="">
                    <input type="number" class="form-control" min="0" max="100000000" name="min" value="this.nextElementSibling.value = this.value">
                </li>
                <li class="nav-item" style="">
                    <label class="col-form-label"> до </label>
                </li>
                 <li class="nav-item" style="">
                    <input type="number" class="form-control" min="0" max="100000000" name="max" value="this.nextElementSibling.value = this.value">
                </li>
                <li class="nav-item" style="margin-left: 50px;" >
                    <select class="form-select" id="" name="city">
                        <option selected value="">Город</option>
                        {% for city in cities %}
                        <option value="{{ city.id }}">{{ city.title }}</option>
                        {% endfor %}
                    </select>

                </li>
                <li class="nav-item" style="margin-left: 50px;">
                    <button class="btn btn-outline-success" type="submit">Выбрать</button>
                </li>
            </form>
        </ul>

    {% endif %}
</div>
    {% for advert in page_obj %}
        <a class="row mb-3 border-bottom" style="height:100px; text-decoration: none; color: currentcolor;"
           href="{% url 'detail_advert' %}?advert_id={{advert.id}}">
            <div class="col-sm-3 align-self-center">
                    <img class="mx-auto d-block" src="{{ advert.main_image.url}}" style="width: 100px; height: 100px; object-fit: contain;">
            </div>
            <div class="col-sm-3 align-self-center">{{ advert.title }}</div>
            <div class="col-sm-3 align-self-center">{{ advert.city }}</div>
            <div class="col-sm-3 align-self-center">{{ advert.price }} руб.</div>
        </a>
    {% endfor %}
    <br>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="?page={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}{% if user_advert %}&created_user_id={{user.id}}{% endif %}">&laquo;</a>
            </li>
            {% for i in page_obj.paginator.page_range %}
                <li class="page-item {% if i == page_obj.number %}active{%endif %}">
                    <a class="page-link" href="?page={{i}}{% if user_advert %}&created_user_id={{user.id}}{% endif %}">{{i}}</a>
                </li>
            {% endfor %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if user_advert %}&created_user_id={{user.id}}{% endif %}">&raquo;</a></li>
        </ul>
    </nav>

</div>

{% endblock %}