{% extends "header.html" %}
{% block content %}
  {% for advert in detail_advert %}


    <div id="messages" style="text-align: right; width: max-content;"></div>
    <h3 style="margin-bottom: 20px; text-align: center;">{{ advert.title }}</h3>

    <div class="container">
      {% if advert.created_user_id == user.id %}
        <div class="row mb-3">
          <div class="col" style="text-align: right;">
            {% if advert.date_delete %}
              <p class="col" style="color: red">Объявление удалено</p>
              <a class="btn btn-outline-dark"
                 href="{% url 'reestablish_advert' %}?advert_id={{ advert.id }}"
                 type="button" style="margin-bottom: 20px;">Восстановить</a>
            {% else %}
              <a class="btn btn-outline-danger"
                 href="{% url 'del_advert' %}?advert_id={{ advert.id }}"
                 type="button" style="margin-bottom: 20px;">Удалить</a>
            {% endif %}
          </div>
        </div>
      {% endif %}
      <div class="row mb-3">
        <div class="col" style="font-size: 1.5rem;">
          Цена {{ advert.price }} руб.
        </div>
        <div class="col" style="text-align: right;">
          Количество просмотров {{ advert.count_views }}
        </div>
      </div>
      <div class="card"
           style="width: 100%; margin-left: auto; margin-right: auto;">
        <div class="row mb-3" style="height:50px;">
          <div class="col" style="color: red">{% if advert.date_delete %}
            Пользователь удалил это объявление{% endif %}</div>
        </div>
        <img class="card-img-top mx-auto d-block"
             src="{{ advert.main_image.url }}"
             style="width: 300px; height: 300px; object-fit: contain;">
        <div class="card-body">
          {% for img in advert.additional_image %}
            <img class="" src="{{ img.image.url }}"
                 style="width: 100px; height: 100px; object-fit: contain;">
          {% endfor %}
          <br>
          <div class="row mb-3 border-top" style="height:50px;">
            <div class="col-sm-3 align-self-center">Категория</div>
            <div class="col-sm-6 align-self-center">{{ advert.category.title }}</div>
          </div>
          <div class="row mb-3 border-top" style="height:50px;">
            <div class="col align-self-center">Описание:</div>
          </div>
          <div class="row mb-3" style="height:50px;">
            <div class="col align-self-center"><p
                    class="card-text">{{ advert.description }}</p></div>
          </div>

          <div class="row mb-3 border-top" style="height:50px;">
            <div class="col-sm-3 align-self-center">Город</div>
            <div class="col-sm-6 align-self-center">{{ advert.city.title }}</div>
          </div>

          <div class="row mb-3 border-top">
            Контактная информация:
          </div>

          {% for info in advert.contact_info %}
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="row mb-3" style="height:50px;">
                  <div class="col-sm-3 align-self-center">Продавец</div>
                  <div class="col-sm-6 align-self-center">{{ info.name }}</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row mb-3" style="height:50px;">
                  <div class="col-sm-3 align-self-center">Телефон</div>
                  <div class="col-sm-6 align-self-center">{{ info.phone }}</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row mb-3" style="height:50px;">
                  <div class="col-sm-3 align-self-center">email</div>
                  <div class="col-sm-6 align-self-center">{{ info.email }}</div>
                </div>
              </li>
            </ul>
          {% endfor %}
        </div>
      </div>
    </div>
    <script text="script/javascript">
        let url = `ws://${window.location.host}/ws/`
        const adsSocket = new WebSocket(url)
        adsSocket.onmessage = function (e) {
            let data = JSON.parse(e.data)
            console.log('Data:', data)
            let messages = document.getElementById('messages')
            messages.insertAdjacentHTML('beforeend', `
                <div class="alert alert-secondary" role="alert">
                    ${data.message}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
           `)
        }
        {% if day_removed_public %}
            adsSocket.onopen = function (m) {
                adsSocket.send(JSON.stringify({
                    'type_mes': 'removed_soon',
                    'message': {{day_removed_public}}
                }))
            }
        {% elif not removed_public %}
            adsSocket.onopen = function (m) {
                adsSocket.send(JSON.stringify({
                    'type_mes': 'removed_public',
                    'message': ''
                }))
            };
        {% elif advert.count_views > 10000 %}
             adsSocket.onopen = function (m) {
                adsSocket.send(JSON.stringify({
                    'type_mes': 'count',
                    'message': ''
                }))
            };
        {% endif %}
    </script>
  {% endfor %}
{% endblock %}