{% extends "header.html" %}
{% block content %}
<h3 style="margin-bottom: 20px; text-align: center;">Личный кабинет</h3>
<div class = "container">
    <p style="text-align: center;">Личный кабинет</p>
    <div class="mb-3 row">
        <label for="fullName" class="col-sm-2 col-form-label">ФИО</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="fullName" value="{{user.first_name}} {{user.last.name}} {{user.profile.patronymic}}">
        </div>
      </div>
    <div class="mb-3 row">
        <label for="Username" class="col-sm-2 col-form-label">Телефон</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="Username" value="{{user.username}}">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="Email" class="col-sm-2 col-form-label">e-mail</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="Email" value="{{user.email}}">
        </div>
    </div>
    <div class="mb-3 row">
        <label for="Phone" class="col-sm-2 col-form-label">Телефон</label>
        <div class="col-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="Phone" value="{{user.profile.phone}}">
        </div>
    </div>
</div>

{% endblock %}